
<form asp-action="Create" asp-controller="Fruits" method="Post">
    <label>Name</label>
    <input type="text" name="name" class="form-control" />
    <label>Price</label>
    <input type="text" name="price" class="form-control" /> <br />
    <button type="submit" class="btn btn-success">Add</button>
    <a class="btn btn-secondary" asp-action="Back" asp-controller="Fruits">Back</a>
</form>